.gen{
    background-image: url(https://plus.unsplash.com/premium_photo-1664037539346-c962f17d64cb?auto=format&fit=crop&q=60&w=600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8dW5pdmVyc2V8ZW58MHx8MHx8fDA%3D);
    color: rgb(255, 255, 0);
    color: hover rgb(0, 255, 0);
}