.gen{
    background-image: url(https://plus.unsplash.com/premium_photo-1664037539346-c962f17d64cb?auto=format&fit=crop&q=60&w=600&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8dW5pdmVyc2V8ZW58MHx8MHx8fDA%3D);
    background-size: cover;
    color: rgb(255, 255, 50);
    font-family: 'Pangolin', cursive;
}

.gen.nav-link{
  background-image: none;
}
.gen.nav-link:hover{
  color: rgb(255, 255, 200);
}
.gen.navbar-brand:hover{
  color: rgb(255, 255, 200);
}
.gen.navbar{
  background-image: none;
}
.gen.navbar-brand{
  background-image: none;
}
.gen.navbar-expand-lg{
  background-image: none;
}
.navbar-toggler{
  background-color: rgb(255, 255, 0);
}
main{
  font-size: 30px;
}
a{
  color: rgb(55,55,255);
}
a:hover{
  color: rgb(150,150,255);
}

* {
  box-sizing: border-box;
}

.carousel {
  font-family: 'Pangolin', cursive;
  font-size: 32px ;
  overflow: hidden;
  margin: 0;
  background-color: none;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.slide{
  height: 90vh;
  border-radius: 15px;
  margin: 10px;
  cursor: pointer;
  color: #44e;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}

.slide h3{
  position: absolute;
  font-size: 32px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.slide.active{
  flex: 10;
}

.slide.active h3{
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
@media (max-width: 1000px) { 
  main{
    font-size: 26px;
  }
  .carousel {
    font-size: 28px ;
    padding: 0 18px;
  }
  .slide{
    border-radius: 15px;
    margin: 8px;
  }
  .slide h3{
    font-size: 28px;
    bottom: 15px;
    left: 15px;
  }
}
@media (max-width: 730px) { 
  main{
    font-size: 20px;
  }
  h1{font-size: 24px;}
  h2{font-size: 26px;}
  .carousel {
    font-size: 22px ;
    padding: 0 15px;
  }
  .slide{
    border-radius: 10px;
    margin: 5px;
  }
  .slide h3{
    font-size: 18px;
    bottom: 10px;
    left: 5px;
  }
}
@media (max-width: 580px) { 
  main{
    font-size: 14px;
  }
  h1{font-size: 16px;}
  h2{font-size: 18px;}
  .carousel {
    font-size: 16px ;
    padding: 0 10px;
  }
  .slide{
    border-radius: 5px;
    margin: 2px;
  }
  .slide h3{
    font-size: 12px;
    bottom: 3px;
    left: 3px;
  }
}